{
    "additionalProperties": {
        "cxFlow": {
			"vulnerabilityScanners": ["sca"]
        }
    },
	"sca": {
		"appUrl": "https://sca.scacheckmarx.com",
		"apiUrl": "https://api.scacheckmarx.com",
		"accessControlUrl": "https://platform.checkmarx.net",
		"tenant": "cxflow",
		"thresholdsSeverity": {
			"HIGH": 10,
			"MEDIUM": 6,
			"LOW": 3
		},
		"thresholdsScore": 8.5,
		"filterSeverity": ["high", "medium", "low"],
		"filterScore": 7.5
	},
	"ast": {
		"apiUrl": "https://ast.astcheckmarx.com",
		"preset": "default",
		"incremental": false,
		"clientSecret": '${JAVA_HOME}',
		"clientId": ${JAVA_HOME}
	}
}
